:root {
    font-size: 14pt;
    background-color: #107194;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

body {
    margin: 0px;
}

header {
    display: flex;
    height: 10vh;
    background-color: black;
}

h1 {
    font-size: 3rem;
    color: white;
    margin: auto;
    font-family: 'Sriracha', cursive;
}


#menu-view{
    position: relative;
    height: 90vh;
    /* background image found from wikimedia commons, which is under the public doman https://commons.wikimedia.org/wiki/File:Flag-map_of_the_world.svg */
    background-image: url('../images/world-flag-map.png'); 
    background-size: cover;
}

#input-container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    background-color: white;
    opacity: 90%;
}

#menu-desc {
    width: 80%;
}

#game-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#round {
    font-size: 50px;
    color: white;
}

#flag-container {
    display: flex;
    justify-content: center;
    height: 212px;
    width: 300px;
    border: 4px solid white;
    border-radius: 10%;
    margin-top: 40px;
}

#flag-image {
    padding: 10px;
}

#user-input {
    margin-top: 10px;
}

.quick {
    color: red;
}

.btn {
    margin: 5px;
}

.hidden {
    display: none !important;
}